sim_flash.sh
*.o
*.a
*.cmd
out/*
*/.cache
rootfs/include*
rootfs/docs/*
rootfs/.config
system.tar.gz
.vscode/settings.json
*/compile_commands.json
*.ko
rootfs/busybox
rootfs/busybox_unstripped
rootfs/busybox_unstripped.map
rootfs/busybox_unstripped.out
rootfs/busybox.links
rootfs/applets/usage
rootfs/applets/applet_tables
rootfs/applets/usage_pod
rootfs/include/autoconf.h
modules/binder/modules.order
modules/binder/Module.symvers
modules/binder/binder.mod.c
rootfs/include/autoconf.h
test/build
*compile_commands.json
modules/binder/.tmp_versions/binder.mod
*.pyc
